:root {
  --white-color: #ffffff;
  --light-color: #f4f4fd;
  --dark-color: #2e2f42;
  --primary-text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --success-color: #31d0aa;
  --modal-background: #fcfcfc;
  --main-font-size: 16px;
  --logo-font-size: 18px;
  --title-font-size: 20px;
  --main-title-font-size: 24px;
  --main-line-height: 1.5;
  --title-line-height: 1.2;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-size: var(--main-font-size);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
